body {
    background-color: rgb(44, 44, 44);
}

li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.main {
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    border: 1px solid rgb(255, 255, 255);
}

h1 {
    margin-bottom: 100px;
    text-align: center;
    color: aliceblue;
}

li {
    margin-bottom: 10px;
    color: aliceblue;
}

label {
    color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}